.hero {
  height: calc(100vh - 100px); /* Prend toute la hauteur moins le header */
  padding: 0 4rem 4rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Permet à l'image de remplir l'espace sans se déformer */
}

@media (max-width: 768px) {
  .hero {
    padding: 0 1.5rem 1.5rem 1.5rem;
  }
}